.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 75px 0 0 0;
}

.main__intro {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  width: 670px;
  margin: 0 auto 0 auto;
}

.main__inquiry {
  color: #00f0ff;
  text-shadow: -1px 1px 2px #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  font-size: 40px;
  text-align: center;
  width: 388px;
  margin: 90px auto 0 auto;
}

.main__text {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  width: 670px;
  height: 300px;
  margin: 0 auto 0 auto;
  border: 2px solid #00f0ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__visual {
  width: 670px;
  height: 300px;
  margin: 111px auto 111px auto;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__placeholder {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.main__container {
  display: flex;
}

.main__button {
  width: 200px;
  height: 100px;
  border: 4px solid #000;
  border-radius: 73.5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.main__organizer {
  background-color: #020076;
  margin: 50px 94px 0 426px;
}

.main__organizer:hover {
  background-color: #0000ff;
  transition: 0.3s;
  cursor: pointer;
}

.main__participant {
  background-color: #710000;
  margin: 50px 426px 0 94px;
}

.main__participant:hover {
  background-color: #ff0000;
  transition: 0.3s;
  cursor: pointer;
}

.main__link {
  color: #000;
  font-size: 30px;
}
