.organ {
  display: flex;
  flex-direction: column;
}

.organ__grid {
  display: grid;
  grid-template-columns: 650px 650px;
  grid-template-rows: repeat(6, 300px);
  margin: 147px 20px 0 20px;
  gap: 60px 100px;
}

.organ__one-text {
  grid-row: 1/1;
  grid-column: 1/1;
}

.organ__one-viz {
  grid-row: 1/1;
  grid-column: 2/2;
}

.organ__two-text {
  grid-row: 2/2;
  grid-column: 1/1;
}

.organ__two-viz {
  grid-row: 2/2;
  grid-column: 2/2;
}

.organ__three-text {
  grid-row: 3/3;
  grid-column: 1/1;
}

.organ__three-viz {
  grid-row: 3/3;
  grid-column: 2/2;
}

.organ__four-text {
  grid-row: 4/4;
  grid-column: 1/1;
}

.organ__four-viz {
  grid-row: 4/4;
  grid-column: 2/2;
}

.organ__five-text {
  grid-row: 5/5;
  grid-column: 1/1;
}

.organ__five-viz {
  grid-row: 5/5;
  grid-column: 2/2;
}

.organ__six-text {
  grid-row: 6/6;
  grid-column: 1/1;
}

.organ__six-viz {
  grid-row: 6/6;
  grid-column: 2/2;
}

.organ__question {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.organ__text {
  font-family: "K2D", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 28px 0 0 0;
}

.organ__button {
  width: 360px;
  height: 100px;
  border-radius: 102.5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 100px auto 100px auto;
  background-color: #000;
}

.organ__link {
  font-size: 30px;
  font-weight: 700;
  color: #c9c9c9;
}
